.header-section{
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(rgba(1,1,1,0.7),rgba(1,1,1,0.7)), url('../../images/banner.jpg');
    background-position: center;
    background-size: cover;
}
.section-container h1{
    margin: 20px;
    color: var(--bright);
    font-size: 3rem;
}
.section-container{
    text-align: center;
    flex-direction: column;
 }

/* next level section */
.why-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 100px 0;
}
.why-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.why-container .img-container{
    width: 100%;
}
.why-text-section{
    text-align: left;
    margin: auto 0;
}
.why-container h1{
    color: var(--dark);
    margin: 10px 0;
    font-size: 2.5rem;
}
.why-section .title{
    color: var(--primary);
    font-size: 1.5rem;
}
.why-section p{
    color: gray;
}
.why-section .icon-div{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.icon-div h3{
    font-size: 1.5rem;
    margin: 20px;
}
.icon-container span{
    color: var(--bright);
    font-size: 2rem;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    background: var(--primary);
}
.icon-container{
    display: flex;
}
.big-screen-btn{
    display: flex;
}
.small-screen-btn{
    display: none;
}
/* Responsive why section */
@media only screen and (max-width: 1024px) {
    .why-container{
        flex-direction: column;
    }
    .big-screen-btn{
        margin: 10px 0;
        display: none;
    }
    .small-screen-btn{
        display: flex;
        margin: auto;
    }
}
@media only screen and (max-width: 624px){
    .icon-container h3{
        font-size: 1rem;
    }
    .why-section .icon-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }
}